.box {
border: 2px solid black;
display: inline-block;
vertical-align: top;
margin: 0px;
}
.box--small {
width: 100px;
}
.box--medium {
width: 200px;
}
.box--large {
width: 300px;
}
.box--extra-large {
width: 400px;
}
span {
border: 1px solid red;
display: block;
margin: 5px;
padding: 5px;
}
